//Hyundai normal
@font-face {
    font-family: Hyundai;
    src: url('../fonts/Hyundai.ttf') format('truetype');
}

// Monument Extended
@font-face {
    font-family: Monument;
    src: url('../fonts/MonumentExtended-Regular.otf') format('truetype');
}

// Roboto regular
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto.ttf') format('truetype');
}

// Roboto Light
@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}