//Hyundai normal
@font-face {
    font-family: Hyundai;
    src: url('../fonts/Hyundai.ttf') format('truetype');
}

// Monument Extended
@font-face {
    font-family: Monument;
    src: url('../fonts/MonumentExtended-Regular.otf') format('truetype');
}